.container {
}

.header {
  position: absolute;
  display: flex;
  z-index: 100;
  padding: 32px;
  color: var(--co-white);
  align-items: center;
}

.line {
  position: absolute;
  z-index: 100;
  width: 40%;
  height: 1px;
  top: 12%;
  left: 128px;
  border-bottom: 1px solid var(--co-white);
}

.incline {
  position: absolute;
  z-index: 100;
  width: 138px;
  height: 1px;
  top: 9.5%;
  left: 40%;
  transform: rotate(30deg);
  border-bottom: 1px solid var(--co-white);
}

.mainArrow {
  position: absolute;
  z-index: 100;
  left: 128px;
  top: 80px;
  width: 30%;
}

.subArrow {
  position: absolute;
  z-index: 100;
  bottom: 80px;
  right: 25%;
  width: 20%;
  transform: rotate(-160deg);
}

.title {
  position: relative;
  top: -4px;
  padding-left: 128px;
}

.titleText {
  color: var(--co-white);
  letter-spacing: 0.8px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

.content {
  padding: 32px;
}

.contentHeader {
  width: 80%;
  margin: auto;
}

.productsContent {
  width: 100%;
}

.productListRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productListTitle {
  text-align: left;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 8px;
}

.searchForm {
  display: flex;
  width: 100%;
}

.searchFormInput {
  padding: 8px;
  padding: 8px 16px;
  width: 80%;
}

.searchFormButton {
  display: block;
  background: var(--co-black);
  padding: 8px;
}

.sidebar {
  text-align: left;
}


.pagination {
  display: flex;
  align-items: center;
  width: 100%;
}

.paginationItem {
  cursor: pointer;
  position: relative;
  bottom: 2px;
  padding: 8px;
}

.paginationActiveItem {
  font-weight: bold;
}
