.container {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--co-border);
}

.label {
  padding-right: 16px;
}

.icon {
  cursor: pointer;
}
