.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-0);
}

.logo {
  flex: 1;
  height: 40px;
  width: 40px;
  background: blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  padding: 16px;
  flex: 1;
}

.menu {
  flex: 3;
  display: flex;
  align-items: center;
}

.iconMenu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.logoText {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.menuList {
  display: flex;
}

.menuItem {
  display: inline-block;
  margin-right: 16px;

  font-size: 18px;
}

.menuItemText {
  color: var(--co-black);
  transition: all 0.5s;
}

.menuItemText:hover {
  color: var(--gray-3);
}

.iconMenuList {
  display: flex;
}

.iconMenuItem {
  display: inline-block;
  margin-right: 16px;
}

.iconMenuItemContent {
  color: var(--co-black);
  cursor: pointer;
}

