.home-container {
}

.main {
  display: flex;
  justify-content: space-between;
}

.product-list {
  padding: 16px;
}

.product-list-row {
  width: 796px;
  display: flex;
  justify-content: flex-start;
}

.product-list-title {
  text-align: left;
  border-bottom: 1px solid lightgray;
  padding: 8px;
}

.search-form {
  display: flex;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px;
  width: 796px;
}

.search-form-input {
  padding: 8px;
  padding: 8px 16px;
  width: 80%;
}

.search-form-button {
  display: block;
  background: var(--co-black);
  padding: 8px;
}

