.container {
}

.summary {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--co-gray);
}

.label {
  margin-right: 16px;
}

.value {
}

.summarySmall {
  font-size: 12px;
}

.summaryMedium {
}

.summaryLarge {
  font-size: 20px;
  font-weight: bold;
}

.left {
  flex: 3;
}

.right {
  flex: 2;
}

