.container {
  display: flex;
  margin: auto;
  margin-top: 64px;
  width: 80%;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.featuredImage {
  width: 500px;
}

.imageList {
  padding: 32px;
  max-width: 500px;
  margin: auto;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image {
  height: 64px;
  width: 64px;
  border: 1px solid var(--co-gray);
  background: var(--co-gray-4);
}

.form {
  height: 100%;
}

.row {
  margin-bottom: 32px;
}

.colors {
  display: flex;
}

.color {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border: 1px solid var(--co-gray-5);
  margin-right: 8px;
}

.colorContainer {
  position: relative;
}

.colorContainer:hover {
  opacity: 0.6;
}

.colorOverlay {
  position: absolute;
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.colorSelected {
  border: 2px solid var(--co-black);
  transform: scale(115%);
}

.colorDisabled {
  border: 1px solid #444;
  background: #eeeeee80;
}

.colorDisabled:before {
  position: absolute;
  top: 50%;
  left: -20%;
  content: "";
  height: 1px;
  width: 90px;
  transform: rotate(-45deg);
  background: #444;
}

.colorDisabled:after {
  position: absolute;
  top: 50%;
  left: -20%;
  content: "";
  height: 1px;
  width: 90px;
  transform: rotate(45deg);
  background: #444;
}

.sizeContainer {
  cursor: pointer;
}

.sizes {
  display: flex;
}

.size {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border: 1px solid var(--co-gray-5);
  font-size: 18px;
  margin-right: 8px;
}

.size:hover {
  background: var(--co-black);
  color: white;
}

.sizeOverlay {
  position: absolute;
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.sizeSelected {
  border: 2px solid var(--co-black);
  transform: scale(115%);
}

.sizeDisabled {
  border: 1px solid #444;
  background: #eeeeee80;
}

.sizeDisabled:before {
  position: absolute;
  top: 50%;
  left: -20%;
  content: "";
  height: 1px;
  width: 90px;
  transform: rotate(-45deg);
  background: #444;
}

.sizeDisabled:after {
  position: absolute;
  top: 50%;
  left: -20%;
  content: "";
  height: 1px;
  width: 90px;
  transform: rotate(45deg);
  background: #444;
}

.label {
  text-align: left;
}

.price {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
}

.dropdown {
  width: 180px;
}

.description {
  width: 500px;
  margin: auto;
}

.descriptionHeading {
  padding: 16px 0;
  border-bottom: 1px solid var(--co-gray-2);
}

.descriptionTitle {
  padding: 16px 0;
}

.descriptionSection {
  border-bottom: 1px solid var(--co-gray-2);
  min-height: 200px;
}

.descriptionBody {

}

.errorMessage {
  padding: 8px 0;
  color: var(--co-danger);
}
