.container {
}

.main {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.content {
  padding: 32px;
}

.productsContent {
  width: 100%;
}

.productListRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productListTitle {
  text-align: left;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 8px;
}

.products {
  padding: 32px;
  margin-left: 64px;
  width: 896px;
}

.productsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.sidebar {
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  width: 100%;
}

.paginationItem {
  cursor: pointer;
  position: relative;
  bottom: 2px;
  padding: 8px;
}

.paginationActiveItem {
  font-weight: bold;
}
