.container {
  text-align: left;
  margin-bottom: 16px;
  transition: all 0.5s;
  cursor: pointer;
}

.container:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.price {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: var(--co-black);
}

.headlines {
  min-height: 200px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
  letter-spacing: 0.8px;
  color: var(--co-black);
}

.colors {
  display: flex;
  margin-bottom: 8px;
}

.info {
  display: flex;
  color: gray;
  justify-content: space-between;
}

.image {
  width: 260px;
  height: 300px;
  margin-bottom: 16px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

