.container {
  text-align: left;
  margin-bottom: 32px;
}

.price {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.headlines {
  min-height: 200px;
}

.title {
  font-size: 16px;
}

.colors {
  display: flex;
  margin-bottom: 8px;
}

.info {
  display: flex;
  color: gray;
  justify-content: space-between;
}

.image {
  width: 240px;
  height: 280px;
  margin-bottom: 16px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

