
.container {
  width: 240px;
  text-align: left;
}

.allClear {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid var(--co-black);
}

.searchForm {
  display: flex;
  width: 120%;
}

.searchFormInput {
  padding: 8px;
  padding: 8px 16px;
  width: 80%;
}

.searchFormButton {
  display: block;
  background: var(--co-black);
  padding: 8px;
}


