.container {
  width: 240px;
}

.content {
  width: 240px;
  display: none;
  height: 0px;
}

.open {
  display: block;
  height: auto;
}

.toggle {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
