:global(:root) {
  --header-bg-color: #;
  --black: #222;
  --gray-1: #eee;
  --gray-2: #ddd;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-1);
}

.logo {
  flex: 1;
  height: 64px;
  width: 64px;
  background: blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  padding: 16px;
  flex: 1;
}

.menu {
  flex: 3;
  display: flex;
  align-items: center;
}

.icon-menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.logo p {
  padding: 0;
  margin: 0;
}

.menu ul {
  display: flex;
}

.menu li {
  display: inline-block;
  margin-right: 16px;

  font-size: 18px;
}

.icon-menu ul {
  display: flex;
}

.icon-menu li {
  display: inline-block;
  margin-right: 16px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
