:root {
  --header-bg-color: #eee;
  --black: #222;
  --gray: #eee;
  --gray-0: #fefefe;
  --gray-1: #eee;
  --gray-2: #ddd;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
}

*, *:after {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo p {
  font-size: 12px;
  font-weight: bold;
}

.logo p {
  padding: 0;
  margin: 0;
}

.menu ul {
  display: flex;
}

.menu li {
  display: inline-block;
  margin-right: 16px;

  font-size: 18px;
}

.icon-menu ul {
  display: flex;
}

.icon-menu li {
  display: inline-block;
  margin-right: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
